@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* colors that I want to use in my color scheme */
/* --blue-crayola: #3772ffff;
--papaya-whip: #ffecd1ff;
--penn-blue: #001852ff;
--raisin-black: #232528ff; */


/* the following code is specific for the landing page (above is a css reset) */

body {
    font-family: 'Open Sans', sans-serif;
    background-color:white;  
    color:#232528; 

}

main {
    width: 100%; 
   height: 100vh; 
   background-color: white;
}

.text {
    color:#232528; 
}

a {
    color:  #232528; 
    text-decoration: none;
    margin:1rem; 
    position: relative; 
}

a:after {
    content:""; 
    position: absolute; 
    background-color: #0A54FF; 
    height:2px; 
    width:0; 
    left: 0; 
    bottom: -3px; 
    transition: 0.3s; 
}


a:hover:after  {  
    width: 100%;  
}

#home{
    color:#232528; 
}


.navbar{
    height: 10vh;
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 999;
}

.left, .right {
    display: flex; 
    align-items: center;
    margin: 1rem; 
}

.left {
    justify-content: flex-start;
}

.right {
    flex-direction: row;
    justify-content: flex-end;
}

.bluetext {
    display: inline;
    color:#0A54FF; 
}

.intro {
    margin:1rem; 
    height:100vh; 
   
}

.introinfocard {
    display:flex; 
    flex-direction: column;
    border-radius:5px;
    width: 100vh; 
    height: 60vh;
    margin:auto; 
    margin-top:10%;
    /* border:1px solid #0A54FF; */
    font-size:4rem;  
}



h1, p.text, p.smalltext {
    margin: 1rem; 
}

p.text, p.smalltext{
    font-weight: 300;
}

p.smalltext {
    font-size:1rem; 
    flex:1; 
    border-right:2px solid #0A54FF; 
}

.techstackimg {
    width:4rem; 
    height:2rem;
    margin-right:32rem;  
}


.techdiv {
    display:flex; 
    align-items: center;
    justify-content: flex-start
   
}

.aboutinfo{
    display:flex; 
    background-color: #0A54FF;
    padding:0 1rem; 
    height:100vh; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.aboutmecard {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:5px; 
    margin:1rem; 
    display: flex; 
    align-items:center; 
    justify-content: center;

}

h2 {
    margin:0; 
}

h2, h3 {
    font-weight:800; 
    font-size:2rem; 
    margin:1rem; 
}

.abouttext{
    margin:1rem; 
    font-weight:400; 
    line-height: 1.5;
}


.aboutme, .follow {
    flex:1; 
    flex-wrap:nowrap; 

    /* color:#232528; 
    background-color: white;
    margin:1rem; 
    border-radius:5px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 300;
    font-size: 1rem;  */ 
}

.aboutme {
    margin-left:1rem; 
}


.follow {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:2rem; 
    /* border:1px solid red;  */

}

#qrblue {
    height:20rem; 
    width:20rem; 
    margin:auto; 
    border-radius:20px; 
}


#pointemoji {
    height:5rem; 
    font-weight: 5rem; 
}

/* #journey {
    display:flex; 
    flex-direction: fle
} */

.QRinteractive {
    display:flex; 

}

.calltoaction{
    display:flex; 
    flex-direction: column;
}






@media screen (max-width 400px){
    .aboutmecard {
        display: flex; 
        flex-direction: column; 
        margin:0; 
        padding:0; 
        border:1 px solid red; 
    }
}



/* {
.aboutinfo{
    display:flex;
    flex-direction: column;
}

.aboutme{
    display:none; 
}

.navbar {
    max-width:375px; 
}

main{
    max-width:375px; 
}

.introinfocard {
    font-size:1rem; 
}

}  */